body, html {
	background: #000;
}

.clearboth {
  clear:both;
}
div#cnt {
	width: 1274px;
  margin: 0 auto;
	padding: 0;
  text-align: center;
	background-color: black;
	box-sizing: border-box;
}

.sensor {
	float: left;
	margin: 2px;
  border: 1px solid #666;
	box-sizing: border-box;
}

.label {
	font-family: Orbitron, serif;
	font-weight: normal;
	color: #999;
	font-size: 17px;
	margin-top: -20px;
	height: 25px;
	line-height: 10px;
}

.value {
	font-family: Orbitron, serif;
	font-weight: bold;
	height: 90px;
	padding: 10px;
	line-height: 75px;
	font-size: 55px;
	color: darkorange;
}

.menu {
	height:70px;
}

.menu .value {
	line-height:55px;
	padding:5px;
	height: initial;
	color: grey;
}

.s1 {
	width:1270px;
}

.s1_5 {
	width: 950px;
}

.s2 {
	width:632px;
}
.s3 {
	width:420px;
}

.s4 {
	width:314px;
}

.s6 {
  width:208px;
}

.s8 {
	width:155px;
}

.v2 {
	font-size:45px;
}

#clockApp {
	height: 242px;
}
#mainApp {
	height: 433px;
}

.Off {
	color: grey;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: grey;
}

a.active, a.active:visited {
	color: darkorange;
}

.valueicon {
	height: 90px;
	width: 126px;
}
