@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$dash-app-primary: mat-palette($mat-grey);
$dash-app-accent:  mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dash-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dash-app-theme: mat-dark-theme($dash-app-primary, $dash-app-accent, $dash-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dash-app-theme);

body, html {
	background: #000;
}

.clearboth {
  clear:both;
}
div#cnt {
	width: 1274px;
  margin: 0 auto;
	padding: 0;
  text-align: center;
	background-color: black;
	box-sizing: border-box;
}

.sensor {
	float: left;
	margin: 2px;
  border: 1px solid #666;
	box-sizing: border-box;
}

.label {
	font-family: Orbitron, serif;
	font-weight: normal;
	color: #999;
	font-size: 17px;
	margin-top: -20px;
	height: 25px;
	line-height: 10px;
}

.value {
	font-family: Orbitron, serif;
	font-weight: bold;
	height: 90px;
	padding: 10px;
	line-height: 75px;
	font-size: 55px;
	color: darkorange;
}


.light .value {
	height: 180px;
}

.menu {
	height:70px;
}

.menu .value {
	line-height:55px;
	padding:5px;
	height: initial;
	color: grey;
}

.s1 {
	width:1270px;
}

.s1_5 {
	width: 950px;
}

.s2 {
	width:632px;
}
.s3 {
	width:420px;
}

.s4 {
	width:314px;
}

.s6 {
  width:208px;
}

.s8 {
	width:155px;
}

.v2 {
	font-size:45px;
}

#clockApp {
	height: 242px;
}
#mainApp {
	height: 433px;
}

.Off {
	color: grey;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: grey;
}

a.active, a.active:visited {
	color: darkorange;
}

.valueicon {
	height: 90px;
	width: 126px;
}

.tickerContainer{
	overflow-x: hidden;
	overflow-y: scroll;
	white-space: nowrap;
 }
 #ghost{
	 display: inline-block;
	 height: 0;
	 position: absolute;
 }
